

@import url('https://fonts.googleapis.com/css?family=Lemonada');


*  { margin: 0; box-sizing: border-box; }

body {
font-size: 14px;
line-height: 24px;
font-family: "Lemonada", sans-serif;
color: rgb(226, 194, 12);
}
h1 {
font-size: 2.5rem;
color: white;
padding: 1rem;
}
h2 {
font-size: 1.5rem;
text-align: center;
border-bottom: 1px solid #242c75;
text-shadow: 2px 2px 4px #000;
margin-bottom:1rem;
padding-bottom: 1.5rem;
}
header, main, footer {
margin: 1.25rem auto;
padding: .5rem;
max-width: 500px;
border: #77c57b;
border-radius: 5px;
}
header, footer, footer a {
text-align: center;
background-color: #77c57b;
color: #e5e5f8;
}
header img {
width: 150px;
height: auto;
float: right;

}
footer {
font-size: smaller;
}

/* https://www.w3schools.com/CSSref/css3_pr_box-shadow.asp */
img{
    border-radius: 15% 15% 0 15% ;
    box-shadow:0 7px 10px #000; 
}

.box1 {
margin: auto;
}

/* https://www.w3schools.com/CSSref/css3_pr_box-shadow.asp */
div.rotate-right {
    float: right;
    -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate-(-7deg); /* Safari */
    transform: rotate(-7deg);
  }